*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url("images/background.jpg");
    font-family: Arial,  sans-serif;
}

nav{
    background-color: #d4423e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    margin: 0 30px;
}

#container h1{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

nav ul{
    padding: 20px;
}

nav li{
    display: inline-block;
}

nav li a:hover{
    background-color: #b32c28;
}

nav li a{
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

#container{
    width: 70%;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px gray;
}

.partie{
    padding-bottom: 100px;
}

#container h1{
    text-align: center;
    color: #d4423e;
    padding: 50px 0;
}

#container h2{
    font-family: 'Dancing Script', cursive;
    color: #d4423e;
    font-weight: 400;
    font-size: 28px;
}

#container > div{
    margin-left: 20px;
    margin-right: 20px;
}

#paquet{
    display: flex;
}

img{
    width: 100%;
}

figcaption{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 25px;
    position: relative;
    top: -30px;
}

#plan{
    display: flex;
}

#carte{
    width: 100%;
    margin: 20px;
}

iframe{
    width: 100%;
    height: 100%;
}

h3{
    font-family: 'Dancing Script', cursive;
    color: #d4423e;
}

#bouton{
    text-decoration: none;
    background-color: #d4423e;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 15px;
}

input{
    padding-left: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #d4423e;
    color: white;
    height: 91px;
}
/* Version Mobile*/

@media only screen and (max-width: 768px){
    nav{
        margin-top: 0;
        display: block;
    }

    nav ul{
        padding: 0;
    }

    nav ul li {
      display: block;
      width: 100%;
      text-align: left;
      padding: 20px;
    }

    h1{
        text-align: center;
        padding-top: 20px;
    }

    #container{
        width: 90%;
    }

    #paquet{
        display: flex;
        flex-wrap: wrap;
    }

    #paquet figure{
        width: 45%;
        margin: 10px;
    }

    #plan{
        display: block;
    }

    #carte{
        width: 100%;
        margin: 0;
    }

    footer{
        justify-content: center;
    }
}

